<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My lists</h1>
            <div>
                <p><a href="{% url 'todo_list_create' %}">Create a New To-do List</a></p>
                <p><a href="{% url 'todo_item_create' %}">Create a New To-do Item</a></p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todo_list %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a></td>
                            <td>{{ todo.items.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>